/* Style untuk dropdown filter khusus dalam area tertentu */
.custom-dropdown-area #pblFilter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0.85rem;
    color: #6e707e;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%235a5c69' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.custom-dropdown-area #pblFilter:focus {
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.custom-dropdown-area #pblFilter:hover {
    border-color: #a1a5b7;
}

/* Style untuk card header dalam area grafik saja */
.custom-dropdown-area .card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
